@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Avant Garde', 'Century Gothic', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #121920;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  width: 75%;
  margin: 2rem auto;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.card {
  background-color: #eee;
  padding: 2rem;
}

button {
  background-color: #f6e24b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.5s;
  font-size: 0.9rem;
}

button:hover {
  background-color: #f8eb81;
  box-shadow: 5px 5px 0px #000
}

.search {
  background-color: #1b46c0;
  color: #fff;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search div {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#search {
  max-width: 90%;
  min-width: 75%
}

.flex {
  display: flex;
  gap: 1rem;
}

.footer {
  background: #121920;
  color: #fff;
}